@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* ### Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* ### Primary Transparency */
    --light-red-alpha: hsla(0, 100%, 67%, 0.07);
    --orangey-yellow-alpha: hsla(39, 100%, 56%, 0.07);
    --green-teal-alpha: hsla(166, 100%, 37%, 0.07);
    --cobalt-blue-alpha: hsla(234, 85%, 45%, 0.07);
    --white-alpha: hsla(0, 0%, 100%, 0.4);
   
    /* ## Gradients */
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);

    --violet-blue-circle: hsl(256, 72%, 46%);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* ### Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(222, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* ### Font */
    --font: "Hanken Grotesk", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-family: var(--font);
    background-color: var(--white);
}

span {
    font-family: var(--font);
}

.container {
    background-color: var(--white);
    display: flex;
    align-items: center;
    width: 738px;
    height: 512px; 
    border-radius: 36px;
    box-shadow: 0px 7px 30px 0px rgba(46, 43, 233, 0.2);
    margin-bottom: 40px;
}

.result {
    width: 50%;
    height: 100%;
    color: var(--white);
    background-image: linear-gradient(180deg, var(--light-slate-blue-background), var(--light-royal-blue-background));
    text-align: center;
    border-radius: 36px;
    padding: 47px 42px;
}

.result h2 {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--light-lavender);
    margin-bottom: 34px;
}

.circle-result {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(180deg,  var(--violet-blue-circle), var(--persian-blue-circle));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.circle-result > h1 {
    font-size: 4.2rem;
    font-weight: 800;
}

.hundred {
    font-weight: 500;
    color: var(--white-alpha);
}

.result > h1 {
    font-size: 1.7rem;
    color: var(--white);
    margin-bottom: 16px;
}

.result p {
    color: var(--light-lavender);
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    width: 50%;
    height: 100%;
    padding: 47px 42px;
    color: var(--dark-gray-blue);
}

.summary h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

ul {
    list-style: none
}

li {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 17px;
}

li div {
    display: flex;
    align-items: center;
}

li div img {
    margin-right: 12px;
}

li div > p {
    font-weight: 500;
}

.reaction {
    background-color: var(--light-red-alpha);
}

.memory {
    background-color: var(--orangey-yellow-alpha);
}

.verbal {
    background-color: var(--green-teal-alpha);
}

.visual {
    background-color: var(--cobalt-blue-alpha);
}

.reaction div > p {
    color: var(--light-red);
}

.memory div > p {
    color: var(--orangey-yellow);
}

.verbal div > p {
    color: var(--green-teal);
}

.visual div > p {
    color: var(--cobalt-blue);
}

.bold {
    font-weight: 700;
    margin-right: 7px;
}

.number > span:last-of-type {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.btn {
    margin-top: 25px;
    width: 100%;
    height: 56px;
    border-radius: 28px;
    border: none;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 180ms ease-in;
}

.btn:hover {
    background-image: linear-gradient(180deg, var(--light-slate-blue-background), var(--light-royal-blue-background));
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 748px) {

    body {
        height: fit-content;
    }

    .container {
        width: 375px;
        height: 809px;
        flex-direction: column;
    }

    .result {
        width: 100%;
        height: 355px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 20px 0px 38px 0px;
    }
    .result h2 {
        font-size: 1.1rem;
        margin-bottom: 22px;
    }

    .circle-result {
        width: 140px;
        height: 140px;
        margin-bottom: 24px;
    } 

    .circle-result > h1 {
        font-size: 3.5rem;
    }

    .hundred {
        margin-top: -5px;
    }

    .result > h1 {
        font-size: 1.5rem;
        margin-bottom: 12px;
    }

    .result p {
        font-size: 0.9rem;
        width: 258px;
    }

    .summary {
        width: 100%;
        padding: 24px 30px;
    }

    .summary h2 {
        font-size: 1.1rem;
        margin-bottom: 24px;
    }

    li div > p {
        font-size: 0.9rem;
    }

    .btn {
        margin-top: 7px;
    }
}