@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    /* ### Primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /* ### Neutral */
    --white: hsl(0, 0%, 100%);
    --white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-stat-headings: hsla(0, 0%, 100%, 0.6);

    /* ### Fonts */
    --font-lexend: "Lexend Deca", sans-serif;
    --font-inter: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: var(--very-dark-blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-inter);
    min-width: 375px;
}

section {
    width: 1110px;
    height: 445px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.left {
    width: 570px;
    height: 100%;
    background-color: var(--dark-desaturated-blue);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 70px;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 26px;
}

h1, li h2 {
    color: var(--white);
}

h1 span {
    color: var(--soft-violet);
}

.left > p {
    line-height: 26px;
    margin-bottom: 72px;
    width: 350px;
    color: var(--white-main-paragraph);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 60px;
}

li {
    text-align: left;
}

li h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

li p {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white-stat-headings);
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.right {
    width: 540px;
    height: 100%;
    position: relative;
}

img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    filter: contrast(50%);
}

.img-desktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-mobile {
    display: none;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--soft-violet);
    opacity: 0.6;
    width: 540px;
    height: 445px;
    mix-blend-mode: color-burn;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--white-main-paragraph); 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1120px) {
    body {
        height: fit-content;
        padding: 30px 0px;
    }

    section {
        flex-direction: column-reverse;
        width: 330px;
        height: 780px;
        text-align: center;
    }

    .left {
        height: 540px;
        width: 330px;
        padding: 38px 33px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 8px;
    }

    h1 {
        font-size: 1.75rem;
        margin-bottom: 16px;
    }

    .left p {
        margin-bottom: 40px;
        width: 264px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        text-align: center;
        height: 80px;
    }

    li h2 {
        margin-bottom: 5px;
    }

    .right {
        height: 240px;
        width: 330px;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        height: 240px;
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }

    .overlay {
        width: 330px;
        height: 240px;
    }
}