@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    /* ### Primary */
    --tomato: hsl(4, 100%, 67%);
    --tomato-opacity: hsla(4, 100%, 67%, 0.7);
    --pink: hsl(347, 100%, 66%);

    /* ### Neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--charcoal-grey);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 930px;
    height: 640px;
    background-color: var(--white);
    color: var(--charcoal-grey);
    border-radius: 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 25px;
}

main {
    /* width: 375px; */
    width: 412px;
    padding-left: 37px;
    padding-top: 70px;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: var(--dark-slate-grey);
}

p:first-of-type {
    line-height: 24px;
    margin-bottom: 25px;
}

p {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 12px;
}

p:last-of-type {
    margin-bottom: 42px;
}

.illustration-mobile {
    display: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--charcoal-grey);
    font-weight: 700;
}

.error {
    color: var(--tomato);
}

label {
    margin-top: 10px;
}

label,
input {
    width: 100%;
    height: 55px;
}

input {
    padding-left: 22px;
    font-size: 1rem;
    border: 1px solid var(--grey);
    border-radius: 8px;
    
}

::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: var(--grey);
}

button {
    height: 55px;
    border: none;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(90deg, var(--pink), var(--tomato));
    box-shadow: 0px 10px 20px 0px rgba(255, 98, 87,0.3);
}





.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 950px) {

    body {
        height: fit-content;
    }

    .container {
        width: 375px;
        min-width: 375px;
        height: fit-content;
        padding: 0px;
        flex-direction: column-reverse;
        border-radius: 0px;
    }

    main {
        /* width: 326px; */
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 0px;
    }

    h1 {
        font-size: 2.5rem;
        padding-top: 39px;
    }

    p {
        align-items: flex-start;
    }

    .illustration-mobile {
        display: block;
    }

    .illustration-desktop {
        display: none;
    }

    button {
        margin-bottom: 40px;
    }

    .attribution {
        background-color: var(--white);
        width: 375px;
    }
}


