@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* ### Primary */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* ### Neutral */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    /* ### Font */
    --font: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--off-white);
    min-width: 375px;
}

.container {
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
    margin-bottom: 55px;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 35px;
    list-style: none;
}

.menu-icon {
    display: none;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    transition: all 120ms ease-in;
}

a:hover,
a:focus {
    color: var(--soft-red);
}

main {
    width: 1110px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr  350px;
    grid-template-areas: "article article aside"
                        "section section section";  
}

main > article {
    grid-area: article;
    height: 510px;
}

main > article > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

p {
    font-size: 15px;
}

img {
    object-fit: cover;
}

.img-mobile {
    display: none;
}

.title-read {
    display: flex;
    justify-content: space-between;
    height: 210px;
    margin-top: -4px;
}

.title-read .left,
.title-read .right {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.title-read .left {
    width: 287px;
}

.title-read .right {
    width: 355px;
    margin-right: -6px;
    justify-self: flex-start;
}

.title-read .right p {
    line-height: 23px;
    width: 335px;
    color: var(--dark-grayish-blue);
}

.title-read .left h1 {
    font-size: 3.45rem;
    font-weight: 800;
    line-height: 52px;
    padding-bottom: 12px;
}

.btn-read {
    width: 185px;
    height: 50px;
    background-color: var(--soft-red);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    margin-top: 34px;
    transition: all 120ms ease-in;
}

.btn-read:hover,
.btn-read:focus {
    background-color: var(--very-dark-blue);
}

span {
    font-family: var(--font);
    letter-spacing: 4px;
}

aside {
    grid-area: aside;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 30px 26px;
}

aside h1 {
    color: var(--soft-orange);
    font-size: 2.6rem;
}

aside article {
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid var(--grayish-blue);
}

aside article:last-of-type {
    border-bottom: none;
}

aside article h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 120ms ease-in;
}

aside article h3:hover,
aside article h3:focus {
    color: var(--soft-orange);
}

aside article p {
    color: var(--grayish-blue);
    line-height: 24px;
}

section {
    grid-area: section;
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

section article {
    display: flex;
}

section article img {
    width: 100px;
    height: 128px;
    margin-right: 25px;
}

section article .right .number {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--grayish-blue);
}

section article .right h2 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 120ms ease-in;
}

section article .right h2:hover,
section article .right h2:focus {
    color: var(--soft-red);
}

section article .right p {
    color: var(--dark-grayish-blue);
    line-height: 22px;
    width: 224px;
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1130px) {

    nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container,
    main {
        width: 750px;
    }


    main {
        grid-template-columns: 750px;
        gap: 0px;
        grid-template-areas: "article"
                             "aside"
                             "section";

    }

    main > article {
        margin-bottom: 40px;
    }

    .title-read .right {
        margin-right: 0px;
    }

    section {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        margin-top: 40px;
    }

    section article:last-of-type {
        margin-left: 50%;
        margin-right: 50%;
    }

}

@media screen and (max-width: 770px) {

    .container,
    main {
        width: 375px;
    }

    nav {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    nav img {
        width: 48px;
        height: 30px;
    }

    .menu-icon {
        display: block;
        width: 42px;
        height: 18px;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    main {
        grid-template-columns: 375px;
        margin-left: 17px;
        margin-right: 17px;
    }

    main > article {
        height: 654px;
        margin-bottom: 64px;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
        margin-bottom: 30px;
    }

    .title-read {
        flex-direction: column;
        height: fit-content;
    }

    .title-read .left {
        width: 400px;
    }

    .title-read .left h1 {
        font-size: 3.1rem;
        line-height: 48px;
    }

    .title-read .right {
        width: 344px;
    }

    .title-read .right p {
        width: 100%;
    }

    .btn-read {
        margin-top: 30px;
    }

    section {
        grid-template-columns: 1fr;
    }

    section article:last-of-type {
        margin-left: 0px;
        margin-right: 0px;
    }

    aside {
        height: 488px;
        margin-bottom: 65px;
    }

    aside h1 {
        font-size: 2rem;
    }

    section {
        margin-top: 0px;
    }

    section article img {
        height: 130px;
        width: 100px;
    }
}


