@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* ### Primary */
    --light-red-CTA-text: hsl(356, 100%, 66%);
    --very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --very-dark-blue-headings: hsl(208, 49%, 24%);

    /* ### Neutral */
    --white-text: hsl(0, 0%, 100%);
    --white-text-opacity: hsla(0, 0%, 100%, 0.749);

    /* --white-text-opacity:  */
    --grayish-blue-footer-text: hsl(240, 2%, 79%);
    --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

    /* ### Gradient */

    /* Background gradient - Intro/CTA mobile nav: */
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    /* ### Fonts */
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-overpass: "Overpass", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-ubuntu);
    overflow-x: hidden;
    min-width: 375px;
}

header {
    width: 100vw;
    height: 600px;
    background-image: linear-gradient(90deg, var(--very-light-red), var(--light-red));
    border-bottom-left-radius: 100px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.header-container {
    width: 1114px;
    height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-text);
}

header > img { 
    position: absolute;
    top: -1200px;
    right: -1150px;
    max-width: 2900px;
    height: auto;
    z-index: 0;
}

nav {
    height: 50px;
    margin-top: 60px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .left > img:first-of-type {
    margin-right: 60px;
}

nav .left ul {
    display: flex;
    column-gap: 28px;
    list-style: none;
}

nav .left ul li {
    color: var(--white-text-opacity);
    cursor: pointer;
    position: relative;
}

nav .left ul li:hover span {
    color: var(--white-text);
    text-decoration: underline;
}

nav .right {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.icon-hamburger {
    display: none;
}

/* Dropdown */

nav .left ul li > ul {
    background-color: var(--white-text);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px 50px 30px 24px;
    border-radius: 6px;
    position: absolute;
    top: 34px;
    left: -24px;
    display: none;
}

nav .left ul li > ul li {
    color: black;
    margin-bottom: 20px;
}

nav .left ul li > ul li:last-of-type {
    margin-bottom: 0px;
}

nav .left ul li > ul li:hover {
    font-weight: 600;
}

button {
    border: none;
    cursor: pointer;
}

span {
    font-family: var(--font-ubuntu);
}

.btn-log {
    color: var(--white-text-opacity);
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
}

.btn-sign {
    width: 140px;
    height: 50px;
    border-radius: 34px;
    background-color: var(--white-text);
    color: var(--light-red-CTA-text);
    font-weight: 700;
    font-size: 1rem;
}

.btn-sign:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--white-text);
}

.header-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header-center h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 126px;
    margin-bottom: 20px;
}

.header-center p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--white-text-opacity);
    margin-bottom: 48px;
}

.header-center .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 16px;
    width: 294px;
    height: 50px;
}

.btn-free {
    background-color: var(--white-text);
    color: var(--light-red-CTA-text);
    font-size: 1rem;
    font-weight: 700;
    width: 140px;
    height: 50px;
    border-radius: 34px;
}

.btn-free:hover {
    background-color: var(--very-light-red-CTA-hover-background);
    color: var(--white-text);
}

.btn-learn{
    border: 2px solid var(--white-text);
    background-color: transparent;
    color: var(--white-text);
    font-size: 1rem;
    font-weight: 700;
    width: 140px;
    height: 50px;
    border-radius: 34px;
}

.btn-learn:hover {
    background-color: var(--white-text);
    color: var(--very-light-red-CTA-hover-background);
}

/* Section Design Future*/

.design-future,
.free-powerfull {
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: visible;
    color: var(--very-dark-blue-headings);
    margin-bottom: 158px;
}

.design-future h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.1rem;
    margin-top: 145px;
    margin-bottom: 110px;
}

.text-image {
    display: flex;
    overflow-x: visible;
    position: relative;
}

.text-image .text {
    width: 536px;
}

.text-image .text h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.text-image .text p:first-of-type {
    margin-bottom: 75px;
}

.text-image .text p {
    line-height: 30px;
    margin-top: 28px;
    color: var(--very-dark-grayish-blue-body-copy);
}

.illustration-mobile {
    display: none;
}

.text-image > img {
    width: 100%;
    max-width: 885px;
    height: auto;
    position: absolute;
    top: -230px;
    right: -440px;
}

/* Section Art Infrastructure */

.art-infra {
    width: 100vw;
    height: 400px;
    background-image: linear-gradient(90deg, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
    overflow-y: hidden;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
}

.phones-container {
    width: 1114px;
    height: 579px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -510px;
    z-index: 3;
    display: flex;
}

.phones-container .text-right {
    padding-top: 160px;
    padding-left: 70px;
    color: var(--white-text);
}

.phones-container .text-right h1 {
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 34px;
}

.phones-container .text-right p {
    font-weight: 300;
    line-height: 30px;
    width: 528px;
}

.phones {
    margin-left: -50px;
}

.circle {
    position: absolute;
    top: -500px;
    left: -200px;
    z-index: 0;
}

/* ### Section Free Powerfull */

.free-powerfull {
    margin-top: 118px;
    margin-bottom: 300px;
}

.free-powerfull .text-image {
    flex-direction: row-reverse;
    padding-top: 150px;
}

.free-powerfull .text-image p {
    width: 516px;
}

.free-powerfull > .text-image > img {
    width: 100%;
    max-width: 885px;
    height: auto;
    position: absolute;
    top: 0px;
    left: -415px;
}

.laptop-mobile {
    display: none;
}

/* ### Footer */

footer {
    height: 350px;
    background-color: var(--very-dark-black-blue-footer-background);
    border-top-right-radius: 100px;
}

.footer-container {
    width: 1114px;
    height: 362px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 180px;
    padding-top: 65px;
}

.footer-container img {
    width: 101px;
    height: 40px;
}

.footer-container ul {
    list-style: none;
}

.footer-container ul li {
    margin-bottom: 16px;
    color: var(--grayish-blue-footer-text);
}

.footer-container ul li:not(:first-child):hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-container ul li:first-of-type {
    color: var(--white-text);
    font-weight: 500;
    margin-bottom: 35px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    background-color: var(--very-dark-black-blue-footer-background);
    color: var(--grayish-blue-footer-text);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1134px) {
    .header-container {
        width: 768px;
    }

    .design-future,
    .free-powerfull {
        width: 768px;
        text-align: center;
    }

    .text-image {
        flex-direction: column-reverse;
        align-items: center;
    }

    .illustration-desktop {
        display: none;
    }

    .illustration-mobile {
        display: block;
    }

    .text-image > img.illustration-mobile {
        position: static;
        max-width: 730px;
    }

    .text-image .text h3:first-of-type {
        margin-top: 60px;
    }


    .art-infra {
        height: 625px;
        overflow: hidden;
    }

    .phones-container {
        width: 768px;
        align-items: center;
        flex-direction: column;
        margin-bottom: -290px;
    }

    .phones-container .text-right {
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
        /* width: 768px; */
    }

    .phones {
        margin-left: 0px;
    }

    .circle {
        left: -100px;
    }

    .laptop-desktop {
        display: none;
    }

    .laptop-mobile {
        display: block;
    }

    .free-powerfull {
        width: 768px;
        margin-top: 30px;
    }

    .free-powerfull > .text-image > img {
        width: 100%;
        height: auto;
        position: static;
    }

    .free-powerfull .text-image {
        flex-direction: column;
        padding-top: 0px;
    }

    .footer-container {
        width: 768px;
        height: 600px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-left: 75px;
        padding-right: 75px;
    }

    footer {
        height: 600px;
    }
}

