@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary */
 --dark-blue: hsl(233, 26%, 24%);
 --lime-green: hsl(136, 65%, 51%);
 --bright-cyan: hsl(192, 70%, 51%);

 /* Hover */
  --lime-hover: hsl(159, 61%, 47%);

  /* Neutral */
 --grayish-blue: hsl(233, 8%, 62%);
 --light-grayish-blue: hsl(220, 16%, 96%);
 --very-light-gray: hsl(0, 0%, 98%);
 --white: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  height: fit-content;
}

span {
  font-family: "Public Sans", sans-serif;
}

.container-nav,
.container-header,
.container-features,
.container-articles,
.container-footer {
  width: 1110px;
  height: fit-content;
  overflow-x: visible;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar Desktop */

nav {
  width: 100vw;
  height: 80px;
  background-color: var(--white);
  position: relative;
  z-index: 3;
}

nav .container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav ul {
  display: flex;
  column-gap: 27px;
  list-style: none;
  color: var(--grayish-blue);
}

nav ul li {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  transition: all 120ms ease-in-out;
}

nav ul li .border {
  height: 5px;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 120ms ease-in-out;
}

nav ul li:hover {
  color: var(--dark-blue);
}

nav ul li:hover > .border {
  background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  width: 100%;
}

/* Button */

.btn-request {
  width: 165px;
  height: 45px;
  border-radius: 30px;
  background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  color: var(--white);
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}

.overlay-btn {
  width: 165px;
  height: 45px;
  border-radius: 30px;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 100ms ease-in;
}

.btn-request:hover > .overlay-btn,
.btn-request:focus > .overlay-btn {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Header */

header {
  height: 657px;
  background-color: var(--very-light-gray);
}

header .container-header {
  height: 657px;
  position: relative;
}

.title-cta {
  width: 446px;
}

.title-cta h1 {
  font-size: 3.5rem;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 177px;
  color: var(--dark-blue);
}

.title-cta p {
  line-height: 26px;
  padding-bottom: 37px;
  color: var(--grayish-blue);
}

header .container-header .bg-intro-desktop {
  position: absolute;
  top: -260px;
  right: -620px;
}

.phones {
  position: absolute;
  top: -120px;
  right: -292px;
  z-index: 2;
}

/* Features Section */

.features-section {
  height: 667px;
  background-color: var(--light-grayish-blue);
  width: 100vw;
  position: relative;
}

.features-section.container-features {
  height: 667px;
  position: relative;
}

.features-section .container-features h2 {
  color: var(--dark-blue);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 26px;
  padding-top: 108px;
}

.features-section .container-features > p:first-of-type {
  width: 640px;
  color: var(--grayish-blue);
  line-height: 26px;
  margin-bottom: 72px;
}

.features {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefit {
  width: 265px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.benefit h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: -10px;
}

.benefit > img {
  width: 74px;
  height: 74px;
  margin-bottom: 15px;
}

.benefit > p {
  color: var(--grayish-blue);
  font-size: 1rem;
  line-height: 23px;
}

/* Articles */

.latest-articles {
  background-color: var(--very-light-gray);
  height: 660px;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.container-articles h2 {
  color: var(--dark-blue);
  font-weight: 300;
  font-size: 2.4rem;
  padding-top: 86px;
  margin-bottom: 54px;
}

article {
  width: 257px;
  height: 395px;
  background-color: var(--white);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

article > img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

article .bottom {
  padding: 28px 22px 24px 24px;
}

article .bottom .writter {
  display: block;
  font-size: 0.8rem;
  color: var(--grayish-blue);
  margin-bottom: 10px;
}

article .bottom h4 {
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

article .bottom h4:hover {
  color: var(--lime-hover);
}

article .bottom p {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

/* Footer */
footer {
  height: 184px;
  background-color: var(--dark-blue);
  width: 100vw;
  padding-top: 48px;
  padding-bottom: 48px;

  /* position: relative;
  z-index: 5; */
}

footer .container-footer {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

footer .left {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

footer .left .social {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

footer .left .social img {
  cursor: pointer;
  transition: all 90ms ease-in;
}

footer .left .social img:hover,
footer .left .social img:focus {
  filter: brightness(0) saturate(100%) invert(76%) sepia(7%) saturate(3664%) hue-rotate(105deg) brightness(83%) contrast(93%);
}

footer .center {
  display: flex;
  align-items: flex-start;
  column-gap: 122px;
  margin-left: -140px;
}

footer .center ul {
  list-style: none;
  color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  font-size: 0.9rem;
}

footer .center ul > li {
  cursor: pointer;
  transition: all 70ms ease-in;
}

footer .center ul li:hover, 
footer .center ul li:focus {
  color: var(--lime-hover);
  
}

footer .right {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

footer .right > p {
  font-size: 0.9rem;
  color: var(--grayish-blue);
}
