@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary */

 --dark-blue: hsl(233, 26%, 24%);
 --lime-green: hsl(136, 65%, 51%);
 --bright-cyan: hsl(192, 70%, 51%);

  /* Neutral */

 --grayish-blue: hsl(233, 8%, 62%);
 --light-grayish-blue: hsl(220, 16%, 96%);
 --very-light-gray: hsl(0, 0%, 98%);
 --white: hsl(0, 0%, 100%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  overflow: hidden;
  height: fit-content;
}

span {
  font-family: "Public Sans", sans-serif;
}

.container {
  width: 1110px;
  height: fit-content;
  overflow-x: visible;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar Desktop */

nav {
  width: 100vw;
  height: 80px;
  background-color: var(--white);
  position: relative;
  z-index: 3;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav ul {
  display: flex;
  column-gap: 27px;
  list-style: none;
  color: var(--grayish-blue);
}

nav ul li {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  transition: all 120ms ease-in-out;
}

nav ul li .border {
  height: 5px;
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 120ms ease-in-out;
}

nav ul li:hover {
  color: var(--dark-blue);
}

nav ul li:hover > .border {
  background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  width: 100%;
}

/* Button */

.btn-request {
  width: 165px;
  height: 45px;
  border-radius: 30px;
  background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  color: var(--white);
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}

.overlay-btn {
  width: 165px;
  height: 45px;
  border-radius: 30px;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 100ms ease-in;
}

.btn-request:hover > .overlay-btn,
.btn-request:focus > .overlay-btn {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Header */

header {
  height: 657px;
  background-color: var(--very-light-gray);
}

header .container {
  height: 657px;
  position: relative;
}

.title-cta {
  width: 446px;
}

.title-cta h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  padding-top: 177px;
  color: var(--dark-blue);
}

.title-cta p {
  line-height: 26px;
  margin-bottom: 37px;
  color: var(--grayish-blue);
}

header .container .bg-intro-desktop {
  position: relative;
  top: -760px;
  right: -460px;
}

.phones {
  display: block;
  position: absolute;
  top: -120px;
  right: -292px;
}

/* Features Section */

.features-section {
  height: 667px;
  /* width: 100vw; */
  background-color: var(--light-grayish-blue);
  /* background-color: red; */
}

.features-section .container {
  height: 667px;
}

.features-section .container h2 {
  color: var(--dark-blue);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 26px;
  padding-top: 108px;
}

.features-section .container > p:first-of-type {
  width: 640px;
  color: var(--grayish-blue);
  line-height: 26px;
  margin-bottom: 72px;
}

.features {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefit {
  width: 265px;
  height: 270px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.benefit h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.benefit > img {
  width: 74px;
  height: 74px;
  margin-bottom: 15px;
}

.benefit > p {
  /* width: 250px; */
  color: var(--grayish-blue);
  font-size: 1rem;
  line-height: 22px;
}

